body{
    height: 100vh;
}

.letter{
    width: 70px;
    height: 70px;
    font-size: 35px;
}

.box{
    width: 292px;
 
}

#row0,#row1,#row2,#row3{
    width: 292px;
    margin: 0%;
}

.rotates, .rotatesBoggle{
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}